{% extends 'base.html' %}
{% block title %} 个人信息 {% endblock %}
{% block content %}
    <div class="container-fluid">
        {% if message %}
            <div class="alert-warning  alert text-center">{{ message }}</div>
        {% endif %}
    <h1 class="text-center text-primary">个人资料</h1>
        <div class="row">
            <div class="col-3"></div>
            <div class="col-6">
                <div class="row">
                    <div class="col-9">
                        <p>姓名:<strong>{{ user.username }}</strong></p>
                        <p>班级:<a href="{% url 'classes_student' user.account.id %}"><button type="button" class="btn btn-primary">{{ user.account.student.studentClasses.name }}</button></a>  </p>
                        <p>宿舍地址:<strong>{{ user.account.student.studentAddress }}</strong> </p>
                        <p>电话号码:<strong>{{ user.account.telephone }}</strong></p>
                        <p>学号:<strong>{{ user.account.code }}</strong></p>
                    </div>
                    <div class="col-3">
                        <img class="img-fluid rounded" src="https://ss3.bdstatic.com/70cFv8Sh_Q1YnxGkpoWK1HF6hhy/it/u=2534506313,1688529724&fm=26&gp=0.jpg" alt="上传头像">
                    </div>
                </div>
                <div class="row">
                    <div class="col-12">
                        {% if user.account.student.studentClasses.classesCourse.all %}
                            <p>班级课程课程:
                                {% for i in user.account.student.studentClasses.classesCourse.all %}
                               <button type="button" class="btn btn-primary"> {{ i.name }}</button>
                                {% endfor %}
                            </p>
                        {% else %}
                            <p>班级课程课程:<strong>课程还未安排</strong></p>
                        {% endif %}
                    </div>
                </div>
                <div class="text-right">
               <a href="{% url 'student_profile_update' user.pk %}" > <button type="button" class="btn btn-primary">  更新信息</button></a>
                    </div>
            </div>
            <div class="col-3">
            </div>
        </div>
    </div>


{% endblock %}
